In [1]:
import sklearn

In [2]:
#!python -m pip install --upgrade pip

In [3]:
#!python -m pip install sklearn

In [4]:
%load_ext autoreload
%autoreload 2

In [5]:
import pandas as pd

In [6]:
!dir .\files\auto-mpg.csv

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 3A24-1E03

 C:\Develops\test_machinelearning\files 디렉터리

2021-06-29  오후 04:03            21,913 auto-mpg.csv
               1개 파일              21,913 바이트
               0개 디렉터리  150,043,119,616 바이트 남음

In [7]:
pd_data= pd.read_csv('./files/auto-mpg.csv', header= None)
pd_data.info()
# 선형상관계수 나올 컬럼 고르기-> int, float,,
# object는 범주형이라 회귀분석에 쓰이지 못함

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       398 non-null    float64
 1   1       398 non-null    int64
 2   2       398 non-null    float64
 3   3       398 non-null    object
 4   4       398 non-null    float64
 5   5       398 non-null    float64
 6   6       398 non-null    int64
 7   7       398 non-null    int64
 8   8       398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [8]:
pd_data.shape

(398, 9)

In [9]:
pd_data.columns = ['mpg','cylinders','displacement','horsepower','weight',
              'acceleration','model year','origin','name']

In [10]:
x= pd_data[['weight', 'cylinders']]

In [11]:
y= pd_data[['mpg']]

In [12]:
x.shape, y.shape

((398, 2), (398, 1))

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
X_train, X_test, Y_train, Y_test= train_test_split(x, y)
X_train.shape, X_test.shape, Y_train.shape, Y_test.shape

((298, 2), (100, 2), (298, 1), (100, 1))

In [15]:
from sklearn.linear_model import LinearRegression

In [16]:
lr= LinearRegression() # 교육시키기

In [17]:
#lr.fit(x,y)
lr.fit(X_train, Y_train)

LinearRegression()

In [18]:
# split data with 1 column
lr.coef_, lr.intercept_

(array([[-0.007098  , -0.33713196]]), array([46.56089577]))

In [19]:
# check with total data
lr.score(x,y)

0.6948961005346803

y= -( )x1+ ( )x2+ ( ) -> 'weight', 'cylinders', 'mpg'

In [20]:
pd_data[['weight', 'cylinders', 'mpg']]

     weight  cylinders   mpg
0    3504.0          8  18.0
1    3693.0          8  15.0
2    3436.0          8  18.0
3    3433.0          8  16.0
4    3449.0          8  17.0
..      ...        ...   ...
393  2790.0          4  27.0
394  2130.0          4  44.0
395  2295.0          4  32.0
396  2625.0          4  28.0
397  2720.0          4  31.0

[398 rows x 3 columns]

In [21]:
pd_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    float64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [22]:
# check with total data
lr.score(x,y)

0.6948961005346803

In [23]:
# check with a part train data
lr.score(X_train, Y_train)

0.6834321579001366

In [24]:
# check with a part of test data
lr.score(X_test, Y_test)

0.7311117084448053

In [25]:
# 'weight' -> 'cylinders'
lr.predict([[3504.0, 8]])

array([[18.99245239]])

In [26]:
lr.predict([[2790.0, 4]])

array([[25.40895136]])

In [27]:
(-0.00767661*2790.0) + (-0.73190678*4 )+ 46.31736442

21.971995399999997

In [28]:
type(lr)

sklearn.linear_model._base.LinearRegression

In [29]:
import pickle

In [31]:
# 피클을 이용해 파일로 저장하기, 파일을 다루는 open명령 써야함
pickle.dump(lr, open('./saves/autompg_lr.pkl', 'wb'))

In [40]:
y_predict= lr.predict(X_train)
y_predict.shape

(298, 1)

In [41]:
y_predict

array([[31.90362023],
       [13.94577527],
       [18.06256859],
       [24.94758144],
       [31.26480034],
       [28.92246075],
       [29.91618058],
       [30.09363055],
       [23.63449763],
       [30.12912054],
       [30.51951047],
       [22.00191195],
       [29.14249871],
       [29.03602873],
       [29.49030065],
       [25.74260326],
       [24.13135754],
       [19.47511631],
       [32.18754019],
       [10.73038182],
       [32.18044219],
       [31.46354431],
       [24.27327155],
       [12.73911548],
       [19.49641031],
       [28.28364086],
       [31.61970028],
       [13.98836326],
       [26.24651521],
       [22.10842789],
       [19.97907422],
       [18.52398448],
       [18.27555452],
       [25.84197525],
       [16.60752481],
       [19.55314833],
       [26.65110114],
       [21.59027398],
       [31.40676032],
       [29.27736069],
       [28.97214674],
       [16.67850479],
       [26.26071121],
       [28.12038689],
       [30.12202254],
       [23.15893171],
       [30.24978652],
       [25.33797137],
       [29.88069058],
       [30.14331654],
       [16.39458484],
       [29.89488658],
       [25.7638513 ],
       [19.38284233],
       [14.47102718],
       [31.46354431],
       [20.3339282 ],
       [10.97881178],
       [13.25726939],
       [27.36090102],
       [14.8898091 ],
       [15.17372905],
       [15.74156896],
       [29.2063807 ],
       [17.42379467],
       [23.63449763],
       [30.30657051],
       [24.84825542],
       [31.08735038],
       [12.23515756],
       [22.56975185],
       [33.50776796],
       [27.54544899],
       [12.89527145],
       [20.3339282 ],
       [28.32622885],
       [26.72208113],
       [20.73851413],
       [15.04596508],
       [22.96728574],
       [30.55500047],
       [26.17558119],
       [27.81517294],
       [19.5531943 ],
       [32.62761611],
       [30.05814055],
       [18.84334846],
       [30.09363055],
       [31.08735038],
       [13.94577527],
       [17.67217866],
       [32.25852017],
       [31.15833036],
       [23.88292758],
       [13.37793536],
       [29.13540071],
       [29.45481066],
       [20.54686816],
       [12.22805956],
       [28.6385408 ],
       [26.50914117],
       [28.12038689],
       [10.80845981],
       [32.47146014],
       [26.24294323],
       [14.79043712],
       [18.66589849],
       [ 8.71455017],
       [13.52699334],
       [16.80622281],
       [31.44225031],
       [29.13540071],
       [28.37234286],
       [20.68882814],
       [13.1649954 ],
       [17.2108547 ],
       [12.80299746],
       [13.78961929],
       [23.51383165],
       [32.75538009],
       [22.6407778 ],
       [29.38383067],
       [32.1165602 ],
       [22.38524984],
       [12.45519552],
       [12.17837357],
       [13.64765932],
       [24.22358556],
       [13.38503336],
       [28.74501078],
       [25.37346136],
       [28.35462085],
       [29.2134787 ],
       [16.53654482],
       [27.06988307],
       [30.88150841],
       [29.67484862],
       [32.47146014],
       [33.76329591],
       [31.96040422],
       [23.13763771],
       [24.78789945],
       [21.19988405],
       [27.38929301],
       [29.8026126 ],
       [29.66775062],
       [27.16925505],
       [31.33578033],
       [22.25038787],
       [11.10657576],
       [29.13540071],
       [29.04312673],
       [21.36313802],
       [12.76040947],
       [31.22931035],
       [24.41527749],
       [26.8853351 ],
       [ 9.04105811],
       [22.8536718 ],
       [18.75817247],
       [29.41222267],
       [17.7999886 ],
       [31.12284037],
       [31.12284037],
       [32.18754019],
       [24.42947349],
       [25.90581127],
       [29.56128064],
       [25.19605736],
       [10.2548159 ],
       [29.85229859],
       [21.37023602],
       [25.65738131],
       [28.81599077],
       [26.26071121],
       [18.24716252],
       [18.62331049],
       [27.467371  ],
       [23.95390757],
       [28.53207082],
       [29.58257464],
       [21.37028198],
       [25.90581127],
       [29.01116275],
       [29.59677063],
       [28.39011084],
       [13.91028527],
       [22.14391789],
       [30.12912054],
       [27.14796106],
       [25.37350733],
       [28.88697076],
       [14.37875319],
       [21.505098  ],
       [30.12912054],
       [32.0810702 ],
       [31.12284037],
       [19.58868429],
       [31.19382036],
       [19.44667835],
       [25.7283613 ],
       [24.87660145],
       [30.09363055],
       [27.93583892],
       [26.93502109],
       [30.41304049],
       [12.47648952],
       [17.85677259],
       [21.87419393],
       [26.81435511],
       [20.19196822],
       [28.88697076],
       [23.85453559],
       [32.43597014],
       [18.99245239],
       [12.91656544],
       [18.77236847],
       [29.68194662],
       [17.42379467],
       [26.86404111],
       [24.85530745],
       [29.91618058],
       [24.55723747],
       [13.49860134],
       [15.55702099],
       [29.46190866],
       [30.66147045],
       [16.23842887],
       [12.77460547],
       [30.55500047],
       [22.81822777],
       [29.39802667],
       [19.81930031],
       [32.25852017],
       [20.9088661 ],
       [30.69696044],
       [29.52579065],
       [30.23559052],
       [23.94680957],
       [20.12808623],
       [10.2761099 ],
       [27.96423092],
       [30.83892042],
       [11.93704161],
       [31.26480034],
       [14.9040051 ],
       [12.34872554],
       [30.23559052],
       [29.91618058],
       [24.5926815 ],
       [23.74096761],
       [27.00600108],
       [17.35281468],
       [26.95631509],
       [10.51034386],
       [30.87441041],
       [13.05142742],
       [15.08855307],
       [24.06742959],
       [30.4733505 ],
       [24.39393753],
       [28.37591484],
       [23.92551558],
       [20.85918011],
       [23.49253765],
       [32.19463818],
       [25.40895136],
       [ 7.3801264 ],
       [14.12322524],
       [20.08549824],
       [28.14168088],
       [27.42478301],
       [27.04149107],
       [23.35767568],
       [26.25361321],
       [18.89303445],
       [27.72289896],
       [28.95795074],
       [10.94332179],
       [26.50914117],
       [14.55620316],
       [12.17837357],
       [21.11475403],
       [29.95167057],
       [26.20392722],
       [ 8.39514023],
       [26.75757112],
       [31.24350635],
       [26.58012115],
       [26.99185105],
       [14.30067521],
       [29.45481066],
       [26.1187972 ],
       [22.12262389],
       [14.47812517],
       [19.51765834],
       [29.98716057],
       [24.61402146]])

In [42]:
y_result= Y_train- y_predict
y_result

          mpg
344  7.096380
187  3.554225
162 -3.062569
272 -1.147581
384  0.735200
..        ...
155 -7.122624
223  1.021875
228 -1.017658
331  3.812839
123 -4.614021

[298 rows x 1 columns]

In [43]:
lr.score(X_train, Y_train)

0.6834321579001366