In [1]:
import sklearn

In [2]:
!python -m pip install --upgrade pip

Requirement already satisfied: pip in c:\python\python36\lib\site-packages (21.1.3)

In [3]:
!python -m pip install sklearn

Requirement already satisfied: sklearn in c:\python\python36\lib\site-packages (0.0)
Requirement already satisfied: scikit-learn in c:\python\python36\lib\site-packages (from sklearn) (0.24.2)
Requirement already satisfied: numpy>=1.13.3 in c:\python\python36\lib\site-packages (from scikit-learn->sklearn) (1.19.5)
Requirement already satisfied: joblib>=0.11 in c:\python\python36\lib\site-packages (from scikit-learn->sklearn) (1.0.1)
Requirement already satisfied: scipy>=0.19.1 in c:\python\python36\lib\site-packages (from scikit-learn->sklearn) (1.5.4)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\python\python36\lib\site-packages (from scikit-learn->sklearn) (2.1.0)

In [4]:
%load_ext autoreload
%autoreload 2

In [5]:
import pandas as pd

In [6]:
!dir .\files\auto-mpg.csv

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 3A24-1E03

 C:\Develops\test_machinelearning\files 디렉터리

2021-06-29  오후 04:03            21,913 auto-mpg.csv
               1개 파일              21,913 바이트
               0개 디렉터리  150,380,822,528 바이트 남음

In [7]:
pd_data= pd.read_csv('./files/auto-mpg.csv', header= None)
pd_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       398 non-null    float64
 1   1       398 non-null    int64
 2   2       398 non-null    float64
 3   3       398 non-null    object
 4   4       398 non-null    float64
 5   5       398 non-null    float64
 6   6       398 non-null    int64
 7   7       398 non-null    int64
 8   8       398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [8]:
pd_data.columns = ['mpg','cylinders','displacement','horsepower','weight',
              'acceleration','model year','origin','name']

In [9]:
x= pd_data[['weight']]

In [10]:
y= pd_data[['mpg']]

In [11]:
x.shape, y.shape

((398, 1), (398, 1))

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
X_train, X_test, Y_train, Y_test= train_test_split(x, y)
X_train.shape, X_test.shape, Y_train.shape, Y_test.shape

((298, 1), (100, 1), (298, 1), (100, 1))

In [14]:
from sklearn.linear_model import LinearRegression

In [15]:
lr= LinearRegression()

In [16]:
#lr.fit(x,y)
lr.fit(X_train, Y_train)

LinearRegression()

In [17]:
lr.coef_, lr.intercept_

(array([[-0.00769693]]), array([46.43461566]))

In [18]:
pd_data[['mpg', 'weight']]

      mpg  weight
0    18.0  3504.0
1    15.0  3693.0
2    18.0  3436.0
3    16.0  3433.0
4    17.0  3449.0
..    ...     ...
393  27.0  2790.0
394  44.0  2130.0
395  32.0  2295.0
396  28.0  2625.0
397  31.0  2720.0

[398 rows x 2 columns]