## 정보 단계, 교육 단계

In [20]:
import pandas as pd
df= pd.read_csv('./Boston.csv')
#df.columns= ['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax', 'ptratio', 'medv']
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  506 non-null    int64
 1   crim        506 non-null    float64
 2   zn          506 non-null    float64
 3   indus       506 non-null    float64
 4   chas        506 non-null    int64
 5   nox         506 non-null    float64
 6   rm          506 non-null    float64
 7   age         506 non-null    float64
 8   dis         506 non-null    float64
 9   rad         506 non-null    int64
 10  tax         506 non-null    int64
 11  ptratio     506 non-null    float64
 12  black       506 non-null    float64
 13  lstat       506 non-null    float64
 14  medv        506 non-null    float64
dtypes: float64(11), int64(4)
memory usage: 59.4 KB

### 컬럼 구분
- 연속형: crim, zn, indus, nox, rm, age, dis, ptratio, black, lstat, medv
- 분류형: chas, rad, tax

In [27]:
df= df.drop([df.columns[0]], axis=1)
df.head()

      crim    zn  indus  chas    nox  ...  tax  ptratio   black  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

### 정규화

In [10]:
Y= df['medv']
X_continuous= df[['crim', 'zn', 'indus', 'nox', 'rm', 'age', 'dis', 'ptratio', 'black', 'lstat']]
X_category = df[['chas', 'rad', 'tax']]

In [11]:
from sklearn import preprocessing
scaler = preprocessing.StandardScaler()
type(scaler)

sklearn.preprocessing._data.StandardScaler

In [12]:
scaler.fit(X_continuous)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [13]:
X = scaler.transform(X_continuous)

In [14]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
type(lr)

sklearn.linear_model._base.LinearRegression

In [15]:
lr.fit(X,Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [16]:
lr.score(X,Y)

0.7223884754863276

In [17]:
import pickle
pickle.dump(lr, open('./Boston_lr.pkl','wb'))